<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Horses</h1>
    <ul>
    <% for (let i = 0; i < horses.length; i++) { %>
        <li>
        <a href="/horses/<%=horses[i].id;%>">
        <%=horses[i].name%>
        </a> <br/>
        <%=horses[i].owner%> <br/> 
        <%=horses[i].image%> <br/>
        <% if (horses[i].turnOut === true) { %>
            Turn Out
        <% } else { %>
            Keep In
        <% } %> 
        <%=horses[i].turnOut%> <br/>
        <% } %>
    </li>
    </ul>
    <a href="/horses/new">Add Horse</a>
</body>
</html>