<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <h1>Feeding Schedule</h1>
    <table>
        <tr>
            <th> Morning </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Hay </th>
            <th>Feed </th>
            <th>Supplements</th> 
        </tr>
        <% for (let i = 0; i < horses.length; i++) { %>
        <tr>
            <td><%=horses[i].name%> </td>
            <td><%=horses[i].morningFeed.hay%></td>
            <td><%=horses[i].morningFeed.feed%> </td>
            <td><%=horses[i].morningFeed.supplements%> </td>
        </tr>
        <%}%>
    </table>
    <table>
        <tr>
            <th> Evening </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Hay </th>
            <th>Feed </th>
            <th>Supplements</th> 
        </tr>
        <% for (let i = 0; i < horses.length; i++) { %>
        <tr>
            <td><%=horses[i].name%> </td>
            <td><%=horses[i].eveningFeed.hay%></td>
            <td><%=horses[i].eveningFeed.feed%> </td>
            <td><%=horses[i].eveningFeed.supplements%> </td>
        </tr>
        <%}%>
    </table>
    <a href="/horses">Back to Barn</a>
</body>
</html>